<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Website</title>
    <link rel="stylesheet" type="text/css" href="./styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Limelight&display=swap" rel="stylesheet">
</head>
<header>
    <h1 class="limelight-regular">Welcome to the Movie Gallery</h1>
    
    <nav>
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAACmUlEQVR4nO2Zz0sWQRjHh26RXYQglYg0T29gdOknmJ5C6JDgNezSpaNKBzsF/QFeoi4hQfF6CMUOXQovXTpUrwcR6w9IMzLF0g72iaGHGIbZ3dl9Z1/nlfcDc9l9Zvb7nX1255dSLQ4gwADwBPgE/AS2gWXgMTCoYgXoBhbI5g3Qo2ICOA98wx8de0nFAHASWM8h3jTRXaawY8B94IPk8SbwHpgE2o24Vw5xL4B+4IiUq8CsI+51WeJviOAk1oAh4KLj3lhKuxOO+IEyxO95pMBv4J3d8x7tz1l1HoVOm7Sez6Lf8zdrshzSgM55k12dEkCHlDG5lkSbxzOOWnW2Qhr4mJXPCXlcj4GNkAa2rMY7HDGdgVOoFtLAZp0GZj2eMW/VeRjSgP7nm4znTCHNREr7dx3xF0IauGc1rj/Ycen1ThFvf8Q7DlFzkiptUgYdPa+ZDyZeDLTLIOXLd+BswanEGtAV1ICYuCaDVBZ6sLsudc7lNP4FqAQXL2J6gEXKZQOYzvMGgEM+QaeBrzSOVeBEhiY9GbwDfPYxMEPjeZag5TjwwFxn+BjIsygJxaqloReYAn7ZgT4G8lUoiOs5wBXgJfAnyWm0BoCaz6uK2QAHzcBbYLjZDOzJN/B/t6KZDEwBp+rW0zIQJoUuJ8Xlblg11kDTf8SZxGyg1tQGVMCpRD2bWkX5YWk4I+cLu0UM7Md0uhpyOt1VcH1blHW9WRBsQSMV9O5DteR00m1Xs8TnXlJ6NjTqIXBUxQhQkcMOkyUpJtul7ToURXJxybGp1SfG9ImkyYreyFWxwL9tkMRUAW457j9XMQCMOMRNe5oc2R/VBsBhOahOTQ9Hmj3V11QsADfl392XElORwee2ihE8ejSqXm+hyuMvTjMaujwwWvoAAAAASUVORK5CYII=">
        <a href="/">Home</a>
        <a href="/topRatedmovies">Top Rated Movies</a>
        <a href="/movieDetails">Movie Page</a>
        <a href="/upcomingMovies">Upcoming Movies</a>
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAACNElEQVR4nO2YsUscQRTGFxFBiIraacCAxtrOQgshKdJGTMqA6fwjFIRUuSjoP3GI2GuapLARQiRFlMQmELHS4CkY0IRfeDDCOM7tvtnTu10yHxwcN/O++b7Zt2/eTZJEREREREQ4AB4C68AZrccZsAE8TgLEn1A8nACDGgOy80XFmsZAEdKmHk41Bm4gaTEI1XOXBoBO+ZTZwGtgtswGPgG7pTQATFo0Ey0zAFSA9hwLVy2Oao74drN2wwYEWyEmgAHg0oqX7wOB4t/7hOQ1IHgXIGDRE78YEL9UT4QmuAuYBr47sX+BYWveOPAcmAMWgFWTNh+Ac8/a52asauZKzJzhGLd4R8xaNn4CM6JNuwlC1AccOkRL1vhToEbjqAmXxbvsEd+nFu6YeOmQ7TnjY8BRA+KPhMNTem3M5BJvyHocsgvPnCFgP4d4iRny8P1y5nXdqwEr3bYDxG/XSwtuG+huxIC8ODa+ZvQ9OwrxO2n9EbdTaDqveNnVg5BSCnxWGNgNLKHfgP4Q4d1m5w/Syqgn7gFwpTDwR1IzhWfYU0YPTUHJTqeUhSsZcU88Mb/lvfH8/iyDq1JPRF4Dm1mtBDDviZFD6ZHnb+obRSuxdVcG3mr6ICP4+nG/8IxPAV/MnI9Na+YSBYA24BhYSctTM+8V8APoUHI3xUCve6IqKpzqgGqKgfsE0UAJn0CNkl9sbVBcrGsMjJqSWMTL3RFt3g3KRWpB0qlmTnKd+IiIiIiI/wr/AEV6ihdjT00rAAAAAElFTkSuQmCC">
    </nav>
</header>
