 *{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}
body {
    background: #BBD1EA;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: "Limelight", sans-serif;
    display: block;
    color: #F6F6F6;
}

.main-content {
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    flex-direction: column;
}

.main-content h1 {
    font-size: 50px;
}

header {
    background-color: #BBD1EA; 
    color: #FFFFFF; 
    text-align: center; 
    padding: 20px; 
    width: 100%;
    box-shadow: 2px 2px 3px  #003459;
    display: block;
  
}

header h1 {
    font-family: "Limelight", sans-serif; 
    font-size: 40px;
    margin-bottom: 10px; 
    text-shadow: #003459 2px 2px 2px ;
}
nav {
    display: flex; 
    justify-content: center; 
    margin-top: 10px; 
    font-size: 20px;
    align-items: center;
    gap: 15px;
  
}

h1 {
    text-align: center;
    padding-top: 20px;
    text-shadow: #003459 2px 2px 2px;
}

nav a {
    color: #003459; 
    text-decoration: none;
    padding: 10px 15px; 
    font-weight: 800;

}

nav a:hover {
    color: #FFFFFF; 
    border-bottom: 1.5px solid #FFFFFF;
    padding-bottom: 5px; 
    padding: 10px 15px; 
    font-weight: 800;
    text-shadow: #003459 2px 2px 4px ;
    
}

nav img {
    height: 50px; 
    width: 50px; 
    margin: 0 10px; 
    vertical-align: middle; 
}


.movieContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    margin: 0 auto;
    gap: 20px;
    justify-content: center;
    max-width: 1200px; 
    padding: 20px; 
}

.movieItem {
    text-align: center;
    background-color: #c0c0c0;
    border-radius: 10px;
    padding: 15px; 
    margin: 0 auto;
    box-shadow: 0 2px 4px #003459;
    transition: transform 0.2s ease-in-out;
    max-width: 375px; 
    margin: 0 auto; 
    overflow: hidden; 
}

.movieItem img {
    max-width: 100%;
    height: auto;
}

.movieItem:hover {
    transform: scale(1.04); 
}

.poster {
    width: 250px;
    height: 350px; 
    object-fit: cover;
    border-radius: 4px;
} 


.movieItem h2 a {
    text-decoration: none;
    color: inherit;
    font-weight: bold; 
}

.movieItem h2 a:hover {
    color: #F6F6F6;
    text-shadow: 1px 1px 2px #003459;
}

.movieItem h2 {
    font-size: 24px; 
    margin: 10px 0;
    color: #003459; 
    transition: color 0.3s ease; 
}

.movieItem p {
    font-size: 18px; 
    margin: 10px 0;
}


/* Moving Banner on Home Page */
.banner-container {
    width: 100vw; /* Full width of the viewport */
    height: 200px; /* Adjust height as needed */
    overflow: hidden; /* Hide overflow */
    position: relative;
}
.banner-content {
    display: flex; /* Flexbox to align items */
    width: calc(200%); /* Twice the width for seamless scrolling */
    animation: scroll 40s linear infinite; /* Adjust duration as needed */
}
.banner-image {
    width: 50%; /* Adjust image width for proper scaling */
    height: auto; /* Maintain aspect ratio */
}
@keyframes scroll {
    0% {
        transform: translateX(0); /* Start position */
    }
    100% {
        transform: translateX(-50%); /*End position (shift half the width of the banner) */
    }
}

/* Title on pages */
.head_title {
    display: flex;
    justify-content: center;
    font-size: 16pt;
    text-shadow: 1px 1px 2px #003459;
}

/* Star Rating */
.star-rating {
    display: flex;
    justify-content: center; 
    font-size: 24px;
    margin-top: 10px;
}

.star {
    color: #FFFFFF; 
    margin-right: 2px;
}

.star.filled {
    color: #fdc500; 
    text-shadow: 1px 1px 2px #003459;
}

/* Movie Detail Page */
#movieBox {
    display: flex;
    align-items: flex-start; 
    padding: 20px; 
    max-width: 1000px; 
    margin: 0 auto;
    align-items: center;
}
#movieImg {
    margin-right: 20px; 
}
#movieImg img {
    width: 200px; 
    height: 300px; 
    object-fit: cover; 
}
#movieAllDetails p {
    margin: 10px 0; 
    font-size: 24px;
}
#movieStarRating {
    font-size: 22px; 
    font-size: 30px;
}

.releaseYear,
.rating,
.descriptionLabel,
.styleText {
    font-size: 18px; /* Common font size */
    color: #003459; /* Common color */
    font-family: "Limelight", sans-serif; /* Common font family */
}

p {
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
/* Recommendations */
.recommendations {
    margin-top: 20px;
}
.recommendationsTitle {
    display: flex;
    justify-content: center;
    font-size: 14pt;
    text-shadow: 1px 1px 2px #003459;
}


.recommended-movies {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.centerText{
    align-items: center;
    font-size: 18px; /* Common font size */
    color: #003459; /* Common color */
    font-family: "Limelight", sans-serif; /* Common font family */
    display: flex;
    justify-content: center;
}
