
* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}
body {
    background: #BBD1EA;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: "Limelight", sans-serif;
    display: flex;
    color: #F6F6F6;
}

.main-content {
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    flex-direction: column;
}

.main-content h1 {
    font-size: 50px;
}

header {
    background-color: #BBD1EA; 
    color: #FFFFFF; 
    text-align: center; 
    padding: 20px; 
    width: 100%;
    box-shadow: 2px 2px 3px  #003459;
  
}

header h1 {
    font-family: "Limelight", sans-serif; 
    font-size: 40px;
    margin-bottom: 10px; 
    text-shadow: #003459 2px 2px 2px ;
}
nav {
    display: flex; 
    justify-content: center; 
    margin-top: 10px; 
    font-size: 20px;
    align-items: center;
    gap: 15px;
  
}

nav a {
    color: #003459; 
    text-decoration: none;
    padding: 10px 15px; 
    font-weight: 800;

}

nav a:hover {
    color: #FFFFFF; 
    border-bottom: 1.5px solid #FFFFFF;
    padding-bottom: 5px; 
    padding: 10px 15px; 
    font-weight: 800;
    text-shadow: #003459 2px 2px 4px ;
    
}

nav img {
    height: 50px; 
    width: 50px; 
    margin: 0 10px; 
    vertical-align: middle; 
}